includes:
   - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
   - ./vendor/larastan/larastan/extension.neon
parameters:
   noEnvCallsOutsideOfConfig: true
   level: 6
   paths:
    - app
    - config
    - database
    - resources
    - tests